* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  text-align: justify;
  padding: 0 2rem;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Amiri", "Arial", sans-serif;
  line-height: 1.6;
  font-size: 2.5vh;
  box-sizing: border-box;
  margin: 0;
  padding: 3vw;
  color: #333;
  background-image: url(/public/images/background.avif);
  background-attachment: fixed;
}
section {
  width: 100%;
  margin: 10vh 0;
}
.container {
  background-color: white;
  margin: 2vh 17vw;
  border-radius: 2vh;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2 {
  color: #2c3e50;
}

header {
  height: 75vh;
  width: 100%;
  padding: 0;
  text-align: center;
  background-image: url(/public/images/saf_840_cover_page.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

$character-size: 20vw;

.character_container {
  overflow-x: hidden;
}
.character_slider {
  display: flex;
  justify-content: center;
  min-width: calc(var(--count) * $character-size);
  overflow: hidden;
  gap: 2vw;
}
.character {
  background-color: #ecf0f1;
  border-radius: 2.5vh;
  width: $character-size;
  min-height: calc($character-size * 1.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
    object-fit: cover;
    padding: 1vw;
    border-radius: 4vh;
  }
}
.character h3 {
  margin-top: 0;
  text-align: center;
  color: #34495e;
}
